.top {
    text-align: right;
    text-decoration: none;
    color: black;
}
.buscador{width: 120px;
    height: 15px;
    text-align: center;
    background: black;
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    border-radius: 30px;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;}
.itemlista {
    width: 120px;
    height: 15px;
    text-align: center;
    background: black;
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    border-radius: 30px;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;
}
.barra{list-style: none;}
.buscador{
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;
    color:white;}

.navlink {
    text-decoration: none;
    color: white;
    height: 25px;
    width: 10px;

}

ul {
    
    display: flex;
    padding: 0;
    justify-content: space-between;
}

nav {
    width: 940px;
}

.lugares {
    list-style-type: none;
}

.vermas {
    text-decoration: none;
    background: gray;
    color: white;
}

.footer { display: contents;
    list-style-type: none;
    text-align: center;
    border-radius: 20px;
}

.imagenes {
    width: 940px;
    display: flex;
    padding: 0;
}

.cajahija {
    align-items: baseline;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 400px;
    margin: 10px;
    padding: 20px;
    border-radius: 30px;
    width: 200px;
}

.listaimagenes {
    list-style: none;
}

.cajapadre {
    text-align: center;
    color: white;
}

.listapadre {
    display: flex;
}

body {background-color: rgb(33, 33, 33);
    margin: 0;
}

.letter {
    color: white;
    text-decoration: none;
}

.footer {
    list-style-type: none;
    width: 940px;
    height: 50px;
    text-align: center;
    border-radius: 20px;
    justify-content: center;
    color: white;
}

.abajopadre {
    display: flex;
    background: black;
    height: 70px;
    width: 1180px;
    border-start-start-radius: 58px;
    border-start-end-radius: 58px;
    justify-content: center;
    margin: auto;
    border-bottom-left-radius: 58px;
    border-bottom-right-radius: 58px;
    margin-block-end: 20px;
}

.abajohijos {
    list-style-type: none;
    line-height: 60px;
}

.centrar1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#centrar1Sin{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
#elrecomendaciones{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.centrar1_search{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.centrar2_searchresults{
    display: flex;
    width: 100%;
    justify-content: space-around;
}


.centrar2{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.centrar2toprated{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.centrar2_toprated{
    display: flex;
    width: 100%;
    justify-content: space-around;}
.centrar2_airing_today{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.centrar2_populartv{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.centrar2_topratedtv{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.centrar2upcoming{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.centrar2_popularmovie{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.logo{
height: 60%;
width: 60%;
margin-left: 30px;
 }
 .logomp{
    height: 100px;
    width: 850px;
    margin-left: 30px;
    border-radius: 50px;
     }
header{
       background-image:url(../Img/Background\ \(1\)\ \(1\).png);
       margin: 0%;
       width: 100%;
       height: 90px;
       
}
.arriba{display: flex;
    margin: 0%;
    justify-content: space-between;
    text-align: center;
}


/* CSS DE GENEROS */


.top {
    text-align: right;
    text-decoration: none;
    color: black;
}


.itemlista-generos{
    width: 120px;
    height: 15px;
    text-align: center;
    background: rgb(40, 40, 40);
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    border-radius: 30px;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;
}

.navlink-generos {
    text-decoration: none;
    color: white;
    height: 25px;
    width: 10px;

}

ul {
    
    display: flex;
    padding: 0;
    justify-content: space-between;
}

nav {
    width: 940px;
}

.lugares-generos {
    list-style-type: none;
}

.vermas-generos {
    text-decoration: none;
    background: gray;
    color: white;
}

.footer-generos {
    list-style-type: none;
    background: rgb(182, 40, 40);
    width: 940px;
    height: 50px;
    text-align: center;
    border-radius: 20px;
    justify-content: center;
}

.imagenes-generos {
    width: 940px;
    display: flex;
    padding: 0;
}
.li{
    align-items: center;
    text-decoration: none;
    color: white;
}

#ul{
    list-style: none;
    justify-content: space-evenly}
.cajahija_detallepelis{
    align-items: baseline;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 430px;
    margin: 10px;
    padding: 20px;
    border-radius: 30px;
    width: 200px;}
.cajahija-generos {
    align-items: baseline;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 70px;
    margin: 10px;
    padding: 20px;
    border-radius: 30px;
    width: 200px;
}
.cajahija-detailgeneros {
    align-items: baseline;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 390px;
    margin: 10px;
    padding: 20px;
    border-radius: 30px;
    width: 200px;
}

.listaimagenes-generos {
    list-style: none;
}

.cajapadre-generos {
    text-align: center;
    color: white;
}

.listapadre-generos {
    display: flex;
}

body {background-color: rgb(33, 33, 33);
    margin: 0;
}



.abajopadre-generos {
    display: flex;
    background: rgb(17, 75, 125);
    height: 65px;
    width: 1180px;
    border-start-start-radius: 30px;
    border-start-end-radius: 30px;
    justify-content: center;
    margin: auto;
}

.abajohijos-generos {
    list-style-type: none;
    line-height: 60px;
}



.centrar1-generos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.centrar1-generos_seriespelis{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.centrar2-generos_pelis{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.centrar2-generos_series{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.centrar2-generos_seriespelis{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.centrar2_seriespelis{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.imagen{
    width: 200px;
    height: 300px;
    border-radius: 40px;
}

.logo-generos{
height: 60%;
width: 60%;
margin-left: 30px;
 }
header{background-image:url(../Img/Background\ \(1\)\ \(1\).png);
       margin: 0%;
       width: 100%;
       height: 90px;
       
}
.arriba-generos{display: flex;
    margin: 0%;
    justify-content: space-between;
}

.tamaño-imagenes-generos {
width: 184px;
height: 273px;
}
/* Pagina detalle peliculas o series */
.descripcionpelis{
    text-align: center;
}
.detallepelis{  display: flex;
    width: 100%;}
.cajahijapelis{
    align-items: baseline;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 470px;
    margin: 10px;
    padding: 20px;
    border-radius: 30px;
    width: 900px;}

/* Página Search results */
.fotoscars{width: 184px;
    height: 273px;}


/*Responsive*/
@media (max-width:390px){
    .centrar2 {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;}
    .centrar1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;}
    header {
        background-image: url(../Img/Background\ \(1\)\ \(1\).png);
        margin: 0%;
        width: 100%;
        height: 640px;}
    .arriba {
        justify-content: center;
        display: flex;
        margin: 0%;
        justify-content: space-between;
        flex-direction: column;
        height: 500px;
        align-items: center;
        }
    .clickfav{color: white;
        text-decoration: none;
        font-size: x-large;
    }
    .letter{color: white;
        text-decoration: none;
        font-size: x-large;}
    .letter_titulo{color: white;
        text-decoration: none;
        font-size: x-large;}
    .logo{height: 70%;
        width: 70%;
        margin-left: 30px;}
    .centrar2-generos {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;}
    .centrar1-generos {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;}
    header {
        background-image: url(../Img/Background\ \(1\)\ \(1\).png);
        margin: 0%;
        width: 100%;
        height: 640px;}
    .arriba-generos {
        justify-content: center;
        display: flex;
        margin: 0%;
        justify-content: space-between;
        flex-direction: column;
        height: 500px;
        align-items: center;}
    .letter{color: white;
        text-decoration: none;
        font-size: x-large;}
    .logo-generos{height: 70%;
        width: 70%;
        margin-left: 30px;}
    .centrar2-generos_pelis {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;}
    .centrar1-generos {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;}
    header {
        background-image: url(../Img/Background\ \(1\)\ \(1\).png);
        margin: 0%;
        width: 100%;
        height: 640px;}
    .arriba-generos {
        justify-content: center;
        display: flex;
        margin: 0%;
        justify-content: space-between;
        flex-direction: column;
        height: 500px;
        align-items: center;
        }
    .letter{color: white;
        text-decoration: none;
        font-size: x-large;}
    .logo-generos{height: 70%;
        width: 70%;
        margin-left: 30px;}
    .detallepelis {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;}
    .cajahija{ height: 450px;}
    .cajahijapelis{
        width: 300px;
        height: 850px;}
    .abajopadre{width: 300px;
        height: 250px;}}
